<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo display-flex justify-content-center">
      <img nz-image width="40px" height="40px" nzSrc="./assets/images/logo.png" alt="Logo" nzDisablePreview />
      <span class="text-logo padding-start display-flex align-items-center bold logo-text-color" *ngIf="!isCollapsed">
        Integrator
      </span>
    </div>

    <div class="divider-logo-content">
      <nz-divider class="divider-logo"></nz-divider>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item [nzSelected]="menu?.selected" *ngFor="let menu of menus" (click)="navigate(menu)"
        [ngClass]="{'no-padding-top': menu?.selected}">
        <i nz-icon [nzType]="menu.icon.nzType" [nzTheme]="menu.icon.nzTheme"></i>
        <span> {{ menu.title | translate }} </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="no-padding">
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <nz-content class="margin">
      <div class="inner-content padding">

        <!-- router -->
        <router-outlet></router-outlet>

      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
