.text-uppercase {
  text-transform: uppercase !important
}

.text-lowercase {
  text-transform: lowercase !important
}

.text-capitalize {
  text-transform: capitalize !important
}

.bold {
  font-weight: bold !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.button-margin-right {
  margin-right: 5px;
}

.button-margin-left {
  margin-left: 5px;
}