<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="container no-padding">
  <div class="padding divider display-grid" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="8" nzXXl="8">
    <div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
      <div nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="22" nzXl="22" nzXXl="22">
        <form nz-form [formGroup]="newForm" (ngSubmit)="submitForm()">
          <img nz-image width="60px" height="60px" nzSrc="./assets/images/logo.png" alt="Logo" nzDisablePreview />

          <nz-form-item class="margin-top-50px">
            <nz-form-control nzErrorTip="{{ 'create_account.form.name_error' | translate }}">
              <nz-input-group nzSize="large" class="border-input-control" nzPrefixIcon="user">
                <input type="text" nz-input formControlName="name"
                  placeholder="{{ 'create_account.form.name' | translate }}" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'create_account.form.email_error' | translate }}">
              <nz-input-group nzSize="large" class="border-input-control" nzPrefixIcon="user">
                <input type="text" nz-input formControlName="email"
                  placeholder="{{ 'login.form.email' | translate }}" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'create_account.form.password_error' | translate }}">
              <nz-input-group nzSize="large" class="border-input-control" nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password"
                  placeholder="{{ 'create_account.form.password' | translate }}" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'create_account.form.confirm_password_error' | translate }}">
              <nz-input-group nzSize="large" class="border-input-control" nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="confirm"
                  placeholder="{{ 'create_account.form.confirm_password' | translate }}" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="margin-top-50px">
            <nz-form-control>
              <label nz-checkbox formControlName="term" class="margin-top margin-bottom">
                <span [innerHTML]="'create_account.form.agreement' | translate:param_agreement"></span>
              </label>
              <button nz-button nzType="primary" nzSize="large" nzBlock="true"
                class="text-uppercase font-weight-500 margin-top">
                {{ 'create_account.form.submit_button' | translate }}
              </button>
            </nz-form-control>
          </nz-form-item>

        </form>
      </div>
    </div>
  </div>

  <div class="padding divider background-image" nz-col nzXs="0" nzSm="0" nzMd="12" nzLg="14" nzXl="16" nzXXl="16">
  </div>

</div>
