<!-- Swall confirm -->
<swal #swal [showConfirmButton]="false" [showCancelButton]="false" [allowOutsideClick]="dismissible"
  (cancel)="sendAnswer(false)">

  <!-- content -->
  <div class="vgroup text-align-center" *swalPartial="swalTargets.content">

    <!-- title -->
    <div>
      <strong class="title-text bold"> {{ swalOptions.title }} </strong>
    </div>

    <!-- content -->
    <div class="f1 d-flex justify-content-center align-items-flex-start padding min-height-100px">
      <span class="font-size-15px">
        {{ swalOptions.content }}
      </span>
    </div>

    <!-- button -->
    <div class="d-flex justify-content-center align-items-center">
      <a *ngFor="let button of swalOptions?.buttons; let i = index"
        [ngClass]="{'margin-right-5px': i === 0, 'margin-left-5px': i === swalOptions?.buttons?.length - 1, 'margin-5px': i !== swalOptions?.buttons?.length - 1 && i !== 0}"
        [class]="'button-sweet ' + (button?.class ? button?.class : 'medium')" (click)="close(button?.value)">
        {{ button?.text }}
      </a>
    </div>

  </div>

</swal>
