.container {
  height: 100vh;
  background: url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 40vh;
  border-radius: 5px;
  display: flex;
}

.ant-form {
  width: 100%;
}

img {
  max-width: 180px;
}
