/* You can add global styles to this file, and also import other style files */
@import 'src/app/styles/flex-utils.scss';
@import 'src/app/styles/float-elements.scss';
@import 'src/app/styles/margin.scss';
@import 'src/app/styles/padding.scss';
@import 'src/app/styles/text-alignment.scss';
@import 'src/app/styles/text-transformation.scss';

/* Others */
.container {
  padding: $padding;
}

body {
  font-size: 15px;
}

.no-border {
  border: none !important;
}

.no-shadow {
  box-shadow: none !important;
}

.setting-list-item .ant-avatar {
  width: 50px;
  height: 50px;
  border-radius: 0;
  margin: 5px;
}

.fix-virtual-scrolling-height cdk-virtual-scroll-viewport {
  height: 90px !important;
}